.main-container {
  height: 100%;
  width: 100%;
}

.save-btn {
  border: 1px solid #1c1cf9;
  background: #fff;
  color: #1c1cf9;
  border-radius: 5px;
}

.dndflow {
  height: calc(100vh - 60px);
  width: 100%
}

.reactflow-wrapper {
  height: 100%;
  width: 100%;
}

.react-flow__attribution {
  display: none
}

.node-panel {
  border: 1px solid #1c1cf9;
  width: 200px;
  border-radius: 5px;
  cursor: grab;
}

.node-panel>p {
  color: #1c1cf9;
}

.bi-chat-dots {
  font-size: 25px;
  color: #1c1cf9;
}

.bi-arrow-left {
  cursor: pointer;
}